html
    head
        title=title
        meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
        link(href='/css/style.css', rel='stylesheet')
        link(href='/css/circle.css', rel='stylesheet')
        script(src='/socket.io/socket.io.js')
        meta(name='apple-mobile-web-app-capable', content='yes')
        script(src='http://code.jquery.com/jquery-1.11.3.min.js')
        script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
        script(src='/js/featuredisable.js')
        //script(src='/js/papaparse.js');
        script(type='text/javascript')
        script(src='/js/workspace.js')
        div.head
            p#headerContent
        div.notice
            //p#noticeContent
        body(margin="auto")
            div#centeredPatient
                div#objectSetup
                        span#topCenterTitle <p style="font-family:Tahoma,Geneva,sans-serif;text-align:middle; font-size:70px; font-weight:bold;">Welcome! </p>
                        br
                        br
                        br
                        span#rightCenter <p style="font-family:Tahoma,Geneva,sans-serif;text-align:left;font-size:35px;">In the following screens, we will introduce you to our </p>
                        span#rightCenter2 <p style="font-family:Tahoma,Geneva,sans-serif;text-align:left;font-size:35px;">system and the study outline. </p>
                        br

                        span#bottomCenter <p style="font-family:Tahoma,Geneva,sans-serif;text-align:left;font-size:35px;">Please press anywhere on the green area to move </p>
                        span#bottomCenter2 <p style="font-family:Tahoma,Geneva,sans-serif;text-align:left;font-size:35px;">forward. </p>
                        #menuScreen
                             p.styleFont(#button1Click)#menu1 Menu

        div(onclick="move()")#start
            div.centered
                div.forward
                    img(src="../img/icons-all/forward.png")


        script.
            function move() {
                window.location.assign('/workspace/')
            }
