html
    head
        title=title
        meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
        link(href='/css/style.css', rel='stylesheet')
        link(href='/css/circle.css', rel='stylesheet')
        script(src='/socket.io/socket.io.js')
        script(src='/js/task.js')
        script(src='http://code.jquery.com/jquery-1.11.3.min.js')
        script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
        script(src='/js/featuredisable.js')
        script(src='/js/sitBack.js')
        //script(src='/js/papaparse.js');
        script(type='text/javascript')
        div.head
            p#headerContent
        div.notice
            p#noticeContent
        body(margin="auto")
            div#centeredPatient
                div#objectSetup

                    div.centered
                    span#centerTitleText <p style="font-family:sans-serif;text-align:middle; font-size:50px; font-weight:bold;">Sitting Position </p>
                    br
                    br
                    img#firstSetup(src="../img/icons-all/sit_back_400.jpg" align = "middle")
                    br
                    span#centerSitBack <p style="font-family:sans-serif;text-align:middle;font-size:37px;">Sit back into the chair and keep feet on the ground </p>
                    #menuScreen
                                p.styleFont(#button1Click)#menu1 Menu
                    #backScreen
                                p.styleFont(#button2Click)#buttonBack Back


        //div(onclick="moveBack()")#goBack
            //div.centered
                //div.forward
                    //img(src="../img/icons-all/backicon.png")



        div(onclick="move()")#start
            div.centered
                div.forward
                    img(src="../img/icons-all/forward.png")


        script.
            function move() {
                notify()
                //window.location.assign('/preactivity/')
                window.location.assign('/preactivity/')
            }

            //function moveBack() {
                //window.location.assign('/activityObject/')
            //}
