html
    head
        title=title
        meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
        link(href='/css/style.css', rel='stylesheet')
        script(src='/js/featuredisable.js')
        script(src='/js/survey.js')
        body(margin="auto")
            div.homecontainer
                div.centered
                    span Thank You for Participating in the INR study.
