html
    head
        title=title
        meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
        link(href='/css/survey.css', rel='stylesheet')
        script(src='http://code.jquery.com/jquery-1.11.3.min.js')
        script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/featuredisable.js')
        script(src='/js/survey.js')
        script(type='text/javascript')
        script(src='/js/survey.js')
        body(margin="auto")
        div#whole
            p.surveyMessage#topMessage Which everyday task does the activity you just completed remind you of?
            br
            p.surveyMessage Select one of the options below.
                div#Q1
                    tr
                        td
                            div.questionDivs#questionOneDiv
                                p#questionOne
                        td
                            div.questionDivs#questionTwoDiv
                                p#questionTwo
                        td
                            div.questionDivs#questionThreeDiv
                                p#questionThree
                div#continue
                    p#continueText Next
