html
    head
        title=title
        meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
        link(href='/css/style.css', rel='stylesheet')
        link(href='/css/circle.css', rel='stylesheet')
        script(src='/socket.io/socket.io.js')
        script(src='/js/task.js')
        //script(src='/js/jquery-3.1.0.min.js')
        //script(src='/js/jquery.mobile-1.4.5.min.js')
        script(src='http://code.jquery.com/jquery-1.11.3.min.js')
        script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
        script(src='/js/featuredisable.js')
        script(type='text/javascript')
        
        div.head
            p#headerContent
        body(margin="auto")
            div#centeredPatient
                div#diagram
                    div.centered
                        div#popupBoxOnePosition2
                            div.popupBoxWrapper2
                                div.popupBoxContent2
                                    video#videodiag2(src="../img/movies/INR-Exercise1_480.MOV" type="video/mp4" controls="controls")
                                    div.centered
                                        div#exit
                                            span Press to go back
                        br
                        br
                        //span You can watch a video of each activity.
                        span#centerTitleText <p style="font-family:Tahoma,Geneva,sans-serif;text-align:middle; font-size:50px; font-weight:bold;">Study Instructions </p>
                        video#videodiag2(src="../img/movies/INR-Exercise1.MOV" type="video/mp4" controls="controls")
                        <p style="font-family:Tahoma,Geneva,sans-serif;text-align:middle; font-size:30px;">You can watch a video of each activity </p>


                        //span#diag_wrap
                        //img#diagIMG(src="")
                        div
                            //span#video Click Here To See A Video Example
            div(onclick="move()")#start
                div.centered
                    div.forward
                        img(src="../img/icons-all/forward.png")

            script.
                function move() {
                    window.location.assign('/armprep/')
                }
